<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
    <script src="/assets/todo-list.js" type="text/javascript"></script>
</head>

<body>
    <div id="todo-table">
        <h1>My Todo List</h1>
        <form>
            <input type="text" name="item" placeholder="Add a new item.." required>
            <button type="submit">Add item</button>
        </form>
        <ul>
            <% for(var i=0; i<data.length; i++) { %>
                <li><%= data[i].items %></li>

            <% } %>

        </ul>
    </div>
</body>
</html>